.header {
  // margin: 2rem 4rem;
  margin: 2rem 1.5rem;
}

.hero_image {
  width: 100%;
  figure {
    margin: 0;
  }

  .hero_mobile {
    display: block;
  }

  .hero_desktop {
    display: none;
  }
}

@media (min-width: 810px) {
  .header {
    margin: 2rem 4rem;
  }

  .hero_image {
    .hero_mobile {
      display: none;
    }

    .hero_desktop {
      display: block;
    }
  }
}
