nav {
  display: flex;
  justify-content: space-between;
  // padding: 1rem;
  padding: 1rem 0;
  // padding: 2rem;

  img {
    width: 40%;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      list-style-type: none;
      margin: 0 0.5rem;
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.light_nav {
  a {
    color: white;
  }

  .menu_open svg {
    color: white;
  }
}

.popout_menu {
  position: fixed;
  padding: 1rem;
  background-color: $global-bg;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .menu_close {
    svg {
      max-width: 75px;
    }
  }

  .open {
    left: 0;
    transition: 0.8s ease-in-out;
  }

  .close {
    transition: 0.8s ease-in-out;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;

    li {
      margin: 0.75rem 0;
      a {
        color: $heading-black;
        font-weight: 300;
      }
    }
  }
}

.menu_open {
  display: block;
}

.desktop_nav {
  display: none;
}

.mobile_nav {
  display: block;
  // width: 100px;
  // height: 100px;

  li {
    font-size: $base-font-size * 2.5;
    text-align: center;
  }
}

.no_appearance {
  background-color: transparent;
  padding: 0;
  border: 0;
  font-weight: normal;
  outline: 0;
  box-shadow: none;
}

.menu_close {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button:hover {
    cursor: pointer;
  }

  svg {
    color: $cover;
    font-size: $base-font-size * 1.5;
  }
}

.mobile_social {
  display: block;
  text-align: center;
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
}

.mobile_home {
  display: flex;
}

.menu_open {
  margin: 0.5rem;

  svg {
    color: black;
    // font-size: $base-font-size * 1.75;
    width: 50px;
  }
}

.closed {
  display: none;
}

@media (min-width: 480px) {
  nav {
    justify-content: space-between;
    padding: 2rem;
  }

  .mobile_nav {
    display: block;
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 810px) {
  nav {
    padding: 2.5rem 3rem;

    position: static;
    display: flex;
    justify-content: space-between;
  }
  .popout_menu {
    padding: 4rem 2rem;
  }
  .menu_open {
    display: none;
  }

  .mobile_nav {
    display: none;
  }

  .desktop_nav {
    display: flex;
    justify-content: space-between;
  }

  .mobile_social {
    display: none;
  }
}
