.services_links {
  width: 90%;
  margin: 4rem auto;
  text-align: center;

  h2 {
    font-weight: $fontWeight-normal;
    margin: 1rem 0;
  }
}

.service_wrapper {
  flex-direction: column;

  h1 {
    text-align: left;
  }
}

@media (min-width: 810px) {
  .service_wrapper {
    display: flex;
    flex-direction: row;

    & > * {
      margin: 1rem;
      width: calc((100% / 2) - 2rem);
    }
  }

  .services_links {
    width: 55%;

    h2 {
      display: inline;
    }

    h2:nth-child(1)::after {
      content: " / ";
    }

    h2:nth-child(2)::after {
      content: " / ";
    }
  }
}
