.services_links {
  width: 90%;
  margin: 4rem auto;
  text-align: center;

  h2 {
    font-weight: $fontWeight-normal;
    margin: 4rem 0;
  }
}

.service_wrapper {
  // max-width: 1400px;
  // width: (75%);
  // // margin: 0 5rem;
  // margin: 0 3rem;
  flex-direction: column;

  h1 {
    text-align: left;
  }

  // & > * {
  //   width: calc(50% - 2rem);
  // }
}

@media (min-width: 810px) {
  .service_wrapper {
    // max-width: 1400px;
    // width: 80%;
    display: flex;
    flex-direction: row;

    & > * {
      margin: 1rem;
      width: calc((100% / 2) - 2rem);
    }
  }

  .services_links {
    width: 55%;

    h2 {
      display: inline;
      margin: 1rem 0;
    }

    h2:nth-child(1)::after {
      content: " / ";
    }

    h2:nth-child(2)::after {
      content: " / ";
    }

    // h2:nth-child(3)::after {
    //   content: " / ";
    // }
  }
}
