@import url("https://use.typekit.net/qjc1jwr.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap");

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $lineHeight-tight;
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2,
h3,
h4,
h5,
h6 {
  color: $heading-black;
  font-weight: 300;
}

h1 {
  font-size: $base-font-size * 2.75;
  margin-bottom: $base-font-size * 2;
  margin-top: $base-font-size;
}

h2 {
  font-size: $base-font-size * 2.5;
  margin: $base-font-size 0;
  font-weight: $fontWeight-bold;
}

h3 {
  font-size: $base-font-size * 1.8;
  margin: ($base-font-size * 1.875) 0;
}

h4 {
  font-size: $base-font-size * 1.75;
}

h5 {
  font-size: $base-font-size * 1.4;
  letter-spacing: 0.1rem;
}

h6 {
  font-size: $base-font-size * 1.25;
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: $heading-black;
  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: $lineHeight-relaxed;
}

// Mobile
@media (min-width: 810px) {
  h1 {
    font-size: $base-font-size * 4;
    margin-bottom: $base-font-size * 4.5;
    margin-top: $base-font-size;
  }
  h2 {
    font-size: $base-font-size * 3;
  }
  h3 {
    font-size: $base-font-size * 2.25;
  }
  h5 {
    font-size: $base-font-size * 1.75;
  }
}
