$base-line-height: 1.4;
$base-font-size: 1rem;

// font family
// $font-family: nimbus-sans-extended, sans-serif;
$font-family: "Poppins", sans-serif;

// colours
$global-bg: #ededed;
$heading-black: black;
$heading: white;
$color-text: black;
$cover: #28282a;
$grey-accent: #c4c4c4;
// $color-accent: red;

// line height

$lineHeight-none: 1;
$lineHeight-tight: 1.1;
$lineHeight-normal: 1.5;
$lineHeight-relaxed: 1.625;

// font weight
$fontWeight-normal: 400;
$fontWeight-med: 500;
$fontWeight-semi: 600;
$fontWeight-bold: 700;
$fontWeight-extra: 800;
$fontWeight-black: 900;
