.press_page {
  background-color: black;
  color: white;
  padding-bottom: 3rem;
}

@media (min-width: 810px) {
  .container,
  .form_container {
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    & > h1 {
      text-align: left;
      margin-left: 2rem;
    }

    .component_wrapper {
      width: 50%;
    }
  }
}
